body {
    background-color: rgb(199, 199, 199);
}

.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

#mainp {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}