#maininput {
    text-align: center
}

#usernameinput {
    height: 0.6cm;
    background-color: white;
    border-radius: 10px;
    /*box-shadow:
        inset -2px -2px 3px rgba(255, 200, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);*/
}

.usernameform #buttonsubmit {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 10px;
    display: inline-block
}

.usernameform #buttonsubmit:hover {
    background-color: rgba(255, 200, 255, 1),
}

.usernameform #buttonsubmit:active {
    box-shadow:
        inset -2px -2px 3px rgba(255, 200, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}